.App {
  height: 100% !important;
  width: 100%;
  background: rgb(236, 236, 236);
  overflow: auto;
}

.main-content {
  margin-left: 200px;
  height: 100%;
  margin-top: 30px;
  margin-right: 200px;
}

.account-settings,
.privacy-settings {
  color: grey;
  background-color: white;
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}

div.card-top {
  margin-bottom: 5px;
}
.account-settings small,
.privacy-settings small {
  font-size: 12px;
}

.account-settings p,
.privacy-settings p {
  font-size: 14px;
  font-weight: bold;
  color: #6b6b6b;
  margin-top: 5px;
  margin-bottom: 1px;
}

.account-settings header,
.privacy-settings header {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.navigation-profile {
  color: blue;
  font-size: 12px;
}

.navigation-current {
  font-weight: bold;
  font-size: 12px;
}

.header h2 {
  margin: 0px;
}

.header {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 500px;
}

span.fas.fa-user {
  float: right;
}

.form span {
  font-size: 12px;
}

.form {
  margin-top: 2px;
}

/* toggle button, help from W3*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 8px;
  bottom: 0;
  background-color: rgba(140, 140, 140);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  /* right: 2px; */
  bottom: 3px; /*keep centered vertically */
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4e8d8a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4e8d8a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
