/* .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}  */

.App {
  height: 100% !important;
  width: 100%;
  background: rgb(236, 236, 236);
  overflow: auto;
}

.main-content {
  margin-left: 250px;
  height: 100%;
  margin-top: 50px;
}

.account-settings,
.privacy-settings {
  color: grey;
  background-color: white;
  width: 500px;
  height: 200px;
  padding: 10px;
  margin: 10px;
}

/* select {
  background-color: #414141;
  opacity: 0.15;
} */

div.card-top {
  margin-bottom: 5px;
}
.account-settings small,
.privacy-settings small {
  font-size: 12px;
}

.account-settings p,
.privacy-settings p {
  font-size: 14px;
  font-weight: bold;
}

.account-settings header,
.privacy-settings header {
  font-size: 18px;
  font-weight: bold;
}
